{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GK Attendance</title>
    <link rel="stylesheet" href="{% static 'gk_attendance/css/main.css' %}" type="text/css">
  </head>
  <body>
    <ul>


      <li id="studentAttendanceByClass">view student attendance by class</li>
      <li id="studentAttendanceByGrade">view student attendance by grade</li>
      <li id="studentAttendance">view student attendance for the entire school</li>
      <li id="studentAttendanceByStudent">view a specific student’s attendance</li>
      <li id="markAttendance">mark attendance</li>
      <li id="administration">Administration</li>
      <li id="adminCreateStudent">create student</li>
      <li id="adminCreateTeacher">create teacher</li>
      <li id="adminCreateClass">create class</li>
      <li id="adminAddStudentToClass">add student to class</li>
    </ul>
    <div id="additionalData"></div>
    <div id="content"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{% static 'gk_attendance/js/main.js' %}"></script>
  </body>
</html>
